<!-- Header -->
<div id="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <header id="header">
                    <h1><a asp-controller="Home" asp-action="Index" id="logo">ТЕСТ ЗАДАНИЕ</a></h1>
                    <nav id="nav">
                        <a asp-controller="Home" asp-action="Index" class="current-page-item">ГЛАВНАЯ</a>
                        <a href="twocolumn1.html">ПУНКТ 1</a>
                        <a href="twocolumn2.html">Пункт 2</a>
                        <a href="onecolumn.html">Еще пункт меню</a>
                        <a href="threecolumn.html">И еще один</a>
                    </nav>
                </header>
            </div>
        </div>
    </div>
</div>